<div class="col-md-8" >
<h3>My Expenses <small><input type="text" ng-model="ctrl.search" class="search-query" id="expenses_search" placeholder="Search"></small></h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Amount</th>
      <th>Actions</th>
    <tr>
  </thead>

<tbody>
  <tr ng-repeat="expense in ctrl.expenses | filter: ctrl.search | orderBy:'name'">
    <td><strong>{{ expense.name | uppercase }}</strong></td>
    <td>{{ expense.category.name }}</td>
    <td>{{ expense.amount | currency }}</td>
    <td>
    <a href="#" ui-sref='home.expense({id: expense.id})'><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></a> |
    <a href="#" ui-sref='home.edit({id: expense.id})'><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a> |
    <a href="#" ng-click='ctrl.deleteExpense(expense)'><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
    </td>
  </tr>
  <tr class="info">
    <td>Total:</td>
    <td></td>
    <td>{{ctrl.getTotal() | currency }}</td>
    <td></td>
</tbody>
</table>
</div>

<div class="col-md-4" >
  <h3 class="btn btn-info" ng-click="ctrl.getChartInfo()" ng-show="ctrl.showbtn">Expenses by Category</h3>
    <canvas id="pie" class="chart chart-pie"
      chart-data="ctrl.chartData" chart-labels="ctrl.chartLabels" chart-options="ctrl.options">
    </canvas> 
</div>




