<h3>Add Expense</h3>
<form ng-submit="ctrl.addExpense()" name="newForm">
  <div class="form-group" ng-class="{'has-error': newForm.name.$invalid && newForm.name.$touched}">
    <label>Name</label>
    <input type="text" class="form-control" name="name" ng-model="ctrl.expense.name" style="width: 300px" required>
    <span ng-show="newForm.name.$error.required && newForm.name.$touched" class="help-inline">Name is Required</span>
  </div>

  <div class="form-group" ng-class="{'has-error': newForm.amount.$invalid && newForm.amount.$touched}">
    <label>Amount</label>
    <input type="number" step="0.01" class="form-control" name="amount" ng-model="ctrl.expense.amount" style="width: 300px" required>
    <span ng-show="newForm.amount.$error.required && newForm.amount.$touched" class="help-inline">Amount is Required</span>
</div>

  <label>Description</label><br>
  <textarea ng-model="ctrl.expense.description" placeholder="Optional" style="width: 300px"></textarea><br>
  <input type="submit" value="Add Expense" class="btn btn-primary">
</form>

