<!DOCTYPE html>
<html>
<head>
  <title>Expensio</title>
  <script src="node_modules/chart.js/Chart.min.js"></script>
  <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <%= csrf_meta_tags %>
</head>
<body ng-app="app">
<nav class="navbar navbar-default">
  <a class="navbar-brand" href="#">Expensio</a>
  <ul class="nav navbar-nav">
    <li><a href="#" ui-sref="home.new" ui-sref-active="active">New Expense</a></li>
    <li><a ui-sref="home.expenses" ui-sref-active="active">My Expenses</a></li>
  </ul>
  </nav>
<div class="container-fluid" ui-view></div>

</body>
</html>
